{% extends "layout.html" %}

{% block title %}
    Szczegóły kursu
{% endblock %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portal/kursy.css' %}">
{% endblock %}

{% block content %}
    <h2>Szegóły kursu</h2>
        {{ course.tytul }}
        {{ course.opis }}
        {% comment %} <button class="btn" href="#">Zapisz się</button> {% endcomment %}

        {% if user.is_authenticated %}
        <form method="post" action="{% url 'enroll_course' course.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Zapisz się na kurs</button>
        </form>
        {% else %}
        <p><a href="{% url 'login' %}">Zaloguj się,</a> aby zapisać się na kurs.</p>
        {% endif %}
{% endblock %}