<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Kursy</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portal/kursy.css' %}">
</head>
<body>
    <nav>
        <h2>Szczegóły kursu</h2>
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="{% url 'users:register_view' %}">Zarejestruj się</a></li>
        </ul>

    </nav>

    <main>
        {{ course.tytul }}
        {{ course.opis }}
        {{ course.pk }}
    </main>
</body>
</html>
