<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona glowna</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portal/style.css' %}">
</head>
<body>
    <nav>
        <h2>Portal</h2>
        <ul>
            <li><a class="tutaj" href="/">Strona główna</a></li>
            <li><a href="/courses">Wszystkie Kursy</a></li>
            <li><a href="{% url 'users:register_view' %}">Zarejestruj sie</a></li>
            <li><a href="{% url 'users:login_view' %}">Zaloguj się</a></li>
            <li><a href="{% url 'course_list' %}">Nowy portal</a></li>
            <li><form class="logout" action="{% url 'users:logout_view' %}" method="POST">
                {% csrf_token %}
                <button class="logout-btn">Wyloguj się</button>
            </form></li>
        </ul>
    </nav>
    <header>
        <h1>Portal e-learningowy</h1>
        <a href="{% url 'course_list' %}">Zobacz wszystkie Kursy</a>
    </header>

    <section class="new_courses">
        <h2>Najnowsze kursy</h2>
        <div class="courses-container">
            {% for course in new_courses %}
            <div class="course-card">
                <h2>{{ course.tytul }}</h2>
                <p>{{ course.opis }}</p>
                <a class="btn" href="{% url 'course_list' %}">Wszystkie Kursy</a>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>