<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona glowna</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portal/style.css' %}">
</head>
<body>
    <nav>
        <h2>Portal</h2>
        <ul>
            <li><a href="{% url 'home' %}">Strona główna</a></li>
            <li><a href="{% url 'course_list' %}">Wszystkie Kursy</a></li>
            <li><a href="/users/register">Zarejestruj sie</a></li>
        </ul>
    </nav>
    <header>
        <h1>Portal e-learningowy</h1>
        <a href="{% url 'course_list' %}">Zobacz wszystkie Kursy</a>
    </header>

    <section class="new_courses">
        <h2>Najnowsze kursy</h2>
        <div class="courseFor">
            {% for course in new_courses %}
            <div class="courseCard">
                <h2>{{ course.tytul }}</h2>
                <p>{{ course.opis }}</p>
                <a href="{% url 'course_list' %}">Wszystkie Kursy</a>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>