{% extends "layout.html" %}

{% block title %}
    Profil użytkownika
{% endblock %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portal/style.css' %}"
{% endblock %}

{% block content %}
    <section class="main">
        {{ Uzytkownicy.imie }}
        {{ Uzytkownicy.nazwisko }}
        {{ Uzytkownicy.email }}
        {{ Uzytkownicy.haslo }}
        {{ Uzytkownicy.status_uzytkownika }}
        {{ Uzytkownicy.data_rejestracji }}
        {{ Uzytkownicy.potwierdzony_email }}
    </section>
{% endblock %}