{% extends "layout.html" %}

{% block title %}
    Twoje kursy
{% endblock %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portal/style.css' %}">
{% endblock %}

{% block content %}
    <div class="min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-2xl">
        <h2 class="text-2xl font-bold mb-4">Moje kursy</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for e in enrollments %}
                <a class="cursor-pointer" href="{% url 'view_course' course.pk %}">
                <div class="border border-gray-300 rounded-lg p-4 shadow-sm transition duration-200 ease-in-out transform hover:scale-105">
                <h3 class="text-lg font-semibold text-gray-800">{{ e.kurs.tytul }}</h3>
            </div>
                </a>
            {% empty %}
                <p class="text-gray-500">Nie jesteś zapisany na żaden kurs.</p>
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock %}