{% extends "layout.html" %}

{% block title %}
    Twoje kursy
{% endblock %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portal/style.css' %}">
{% endblock %}

{% block content %}
    <h1>Twoje kursy</h1>

    <div class="min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-2xl">
        <h1 class="text-2xl font-bold mb-6 text-gray-800">{{ course.tytul }}<h1>
            <h2>Moje kursy</h2>
            <ul class="list-disc pl-6 text-gray-700">
                {% for e in enrollments %}
                    <li class="mb-2">{{ e.kurs.tytul }}</li>
                {% empty %}
                    <li>Nie jesteś zapisany na żaden kurs.</li>
                {% endfor %}
            </ul>
    </div>
</div>
    
{% endblock %}