@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: #F4F4F4;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 40px;
}

nav h2 {
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-right: 6px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    margin-right: 25px;
    transition: color 0.2s ease;
}

nav ul li:hover a {
    color: #007BFF;
}

nav ul li:last-child a {
    margin: 0;
}

header {
    text-align: center;
}

.new_courses {
    text-align: center;
}

.new_courses .courseFor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px;
}

.courseCard {
    height: 250px;
    width: 100%;
}

.courseCard a {
    width: 75px;
    height: 50px;
    border-radius: 10px;
    background-color: #007BFF;
    color: rgb(255, 255, 255);
}