{% extends "layout.html" %}

{% block title %}
    Test
{% endblock %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'tests/style.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        {% if test %}
            <h1>{{ test.nazwa }}</h1>
            <h2>próg zdawalności: {{ test.prog_zdawalnosci }}</h2>
        {% endif %}
        <div class="panel">
            <div class="pyt">
                {% if pytanie %}
                    {{ pytanie.tresc }}
                    <br>
                {% endif %}
            </div> <br>
            <div class="odp">
                {% if odpowiedzi %}
                    {% for odp in odpowiedzi %}
                        <label>
                            <input type="radio" name="odpowiedz" value="{{ odp.id }}"> {{ odp.tresc }}
                        </label> <br>
                    {% endfor %}
                    <button>Potwierdź</button>
                {% endif %}
                <p>punktów za pytanie: {{ pytanie.punkty }}</p>
            </div>
            <!-- <form>
                <input type="text" placeholder="Odp 1: ">
                <input type="text" placeholder="Odp 2: ">
                <input type="text" placeholder="Odp 3: ">
                <input type="text" placeholder="Odp 4: ">
                <button>Potwierdź</button>
            </form> -->
        </div>
    </div>
{% endblock %}
