{% extends "layout.html" %}

{% block title %}
    Zaloguj
{% endblock %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-2xl">
        <h1 class="text-2xl font-bold mb-6 text-gray-800">Zaloguj się</h1>
        <form method="post" class="space-y-4">
          {% csrf_token %}
          {{ form }}
          <button type="submit"
                class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 rounded-lg transition-colors duration-200">
                Zaloguj
            </button>
        </form>
{% endblock %}