{% extends "layout.html" %}

{% block title %}
    kurs sql
{% endblock %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'courses/style.css' %}">
{% endblock %}

{% block content %}
    <div id="course-content">

        {% for lesson in lessons %}
            <div class="page">
                <h2>{{ lesson.tytul }}</h2>
                <div>
                    {{ lesson.tresc|safe }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}