<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <link href="https://unpkg.com/tailwindcss@1.9.6/dist/tailwind.min.css" rel="stylesheet">
    {% block static %}

    {% endblock %}

    {% block extra_head %}{% endblock %}
</head>

<body>
    <nav>
        <h2>Portal</h2>
        <ul>
            <li><a class="tutaj" href="/"><i class="fa-solid fa-house"></i></a></li>
            <li><a href="/courses"><i class="fa-solid fa-book"></i></a></li>
            <li><a href="/register"><i class="fas fa-user-plus"></i></a></li>
            <li><a href="{% url 'users:login_view' %}"><i class="fas fa-sign-in-alt"></i></a></li>
            <li><form class="logout" action="{% url 'users:logout_view' %}" method="POST">
                {% csrf_token %}
                <a><button class="logout-btn"><i class="fas fa-sign-out-alt"></i></button></a>
            </form></li>
            <li><a href="/accound"><i class="fas fa-user"></i></a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>