.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* text-align: center; */
}

.panel {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 16px;
    margin: 20px;
    flex-wrap: wrap;
    gap: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.pytanie-box {
    width: 45%;
    border-bottom: 1px solid black;
    padding: 20px;
}

.panel:hover {
    transform: scale(1.03);
}

.panel pre {
    padding-right: 20px;
}
.pyt{
    margin-bottom: 15px;
}
.panel form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid rgb(161, 161, 161);
    padding: 15px;
}

.panel input {
    border: 1px solid rgb(161, 161, 161);
    border-radius: 8px;
    margin: 5px;
}

.panel input:active {
    background-color: #a7a7a7;
}

.panel button {
    border: 1px solid rgb(161, 161, 161);
    border-radius: 8px;
}

.panel button:hover {
    background-color: #a7a7a7;
}

.odp{
    display: flex;
    flex-direction: column;
}

.wyslij{
    width: 100%;
    border-radius: 10px;
    border: 1px solid blue;
    transition: 0.3s ease
}
.wyslij:hover{
    padding: 10px;
}